body {
  background-color: white;
  font-family: 'Monda', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: #24292E;
  min-height: 200px;
  min-width: 100%;
  justify-content: center;
}

header * {
  font-size: 2.5rem;
  margin: 0;
}

header *:nth-child(1) {
  margin-bottom: 20px;
}

nav {
  background-color: white;
  padding: 16px auto;
  font-size: 2.5rem;
  color: #24292E;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), -2px 2px 4px rgba(0, 0, 0, .2);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  width: calc(60% + 20px);
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
}

nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  list-style: none;
  font-weight: bold;
  margin: 10px 12px;
}

nav li:not(:nth-child(2)):hover {
  border-bottom: 4px solid rgba(36, 41, 46, .5);
  cursor: pointer;
}

#feedback {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.correctFeedback {
  color: green;
  margin: 12px 0;
}

.wrongFeedback {
  color: red;
  margin: 12px 0;
}

#easy_btn {
  margin-left: auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  padding: 20px 10px;
}

.square {
  padding-bottom: calc(33.3333% - 20px);
  padding-right: calc(33.3333% - 20px);
  margin: 10px;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2), -1px 1px 2px rgba(0, 0, 0, .2);
}

.square:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .1), -1px 1px 6px rgba(0, 0, 0, .1);
}

.hiddenSquare {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.selectedBtn {
  border-bottom: 4px solid #24292E;
  box-shadow: unset;
}

@media (max-width: 1200px) {
  #container {
    width: calc(100% - 24px);
  }
  nav ul {
    width: 90%;
  }
}

@media (max-width: 800px) {
  #feedback {
    flex-basis: 100%;
    order: 1;
  }
  #play_again {
    order: -1;
    margin: 0;
    color: white;
    border-radius: 25px;
  }
  #play_again span {
    padding: 5px 20px;
    background-color: #24292E;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  #play_again span:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
  #play_again:hover {
    border: none;
  }
  nav ul {
    justify-content: center;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  #play_again {
    flex-basis: 100%;
    margin-top: 10px;
  }
  #easy_btn {
    margin-left: 12px;
  }
  html {
    font-size: 12px;
  }
  .square {
    padding-bottom: calc(33.3333% - 16px);
    padding-right: calc(33.3333% - 16px);
    margin: 8px;
    background: white;
    border-radius: 100%;
  }
}